body {
    margin : 0;
    background: #eaeaea; 
}

a{
    text-decoration : none;
    color : inherit;
}
/*=================================================================
                        BANNER
===================================================================*/
.banner .main_cover {
    background  : url('../images/cover.png');
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner .logo {
   position : absolute;
   top : 50%;
   left : 50%;
   transform : translate(50% 50%);
   font-family: monoton;
   height: 62px;
   width: 17%;
   color: #fff;
   font-size: 43px;
   text-align: center;
}

.banner span {
    display:  block;
    height: 20px;
    background: cadetblue;
}


/*=================================================================
                        BANNER
===================================================================*/
.artist_list {
    box-sizing: border-box;
    padding: 10px 30px;
  
}
.artist_list .artis_item {
    height: 290px;
    display: block;
    background-size: cover !important;
    margin-bottom: 20px;
    position: relative;
}

.artist_list .artis_item div {
    background: 2196f3;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.artist_list h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin: 20 0;
}

/*=================================================================
                      HEADER
===================================================================*/

header{
    font-family: "Monoton";
    text-align: center;
    font-size: 33px;
    border-bottom: 1px solid #2196f3;
    color: #994499;
}

/*=================================================================
                     ARTIST BIO
===================================================================*/
.artist_bio {
    box-sizing: border-box;
    padding: 10px 30px;
  
}

.artist_bio .avatar span {
    width: 130px;
    height: 130px;
    display : block;
    margin: 0 auto;
    background-size : cover !important
}

.artist_bio h3 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

.artist_bio .bio_text {
    font-weight: 100;
    font-size: 14px;
}

/*=================================================================
                     ARTIST BIO
===================================================================*/
.album_list{
    margin: 20px;
}

.album_list:after {
    display: table;
    clear : both;
    content: '';
}

.album_list > img {
    width: 50%;
   float : left;
}